@media screen and (max-width: 480px) {
  .display-tablet {
    display: none;
  }
  .display-mobile {
    display: unset !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .justify-content-sm-center {
    justify-content: center;
  }
  .margin-left-2 {
    margin-left: 0px !important;
  }
  .display-mobile {
    display: unset;
  }
  .display-tablet {
    display: none;
  }
  .timeline > li {
    padding-top: 17%;
  }
}
